h1{font-style: bold; text-align: center; color: #1A1D20;}
body{background-color:#D1E6FF; text-align: center; margin: 10%;}
.facts{background-color:#9DACBF; text-align: center;}
.border{border-style: double;border-color: #9DACBF;}
p{border-style: dashed;border-color: #9DACBF;text-align: center}
